#body__nav
    .nav__logo JUSTYAY
    .nav__navigation
        .nav__main ГЛАВНАЯ
        .nav__services УСЛУГИ
        .nav__works РАБОТЫ
        .nav__abilities СПОСОБНОСТИ
        .nav__contacts КОНТАКТЫ

    .btn-up
        .material-icons keyboard_arrow_up

#job
    .job__container
        .job__about.about
            .anim-block.wow.animate__animated.animate__fadeInUp
                .job__title.title ЧЕМ Я ЗАНИМАЮСЬ?
                .job__line.line
                .job__info.info Разработка сайтов - это то, чему я посвящаю большую часть своей жизни. Я смогу создать вам то, что вы задумали.
        .job__skills
            .design.small.wow.animate__animated.animate__fadeInLeft
                .material-icons auto_fix_high
                .card-title WEB DESIGN
                .card-info Дизайн сайта - одна из неотъемлемых частей сайта, которая привлекает людей 
            .progr.small.wow.animate__animated.animate__fadeInLeft
                .material-icons military_tech
                .card-title WEB PROGRAMMING
                .card-info Программирование - разработаю функции, которые по-настоящему будут вам нужны
            .brand.big.wow.animate__animated.animate__fadeInRight
                .material-icons extension
                .card-title BRANDING
                .card-info Цель брендинга – сделаем бренд, сформируем долгосрочнное предпочтение к вашему сайту
            .consult.big.wow.animate__animated.animate__fadeInRight
                .material-icons help_outline
                .card-title CONSULTATION
                .card-info Проконсультирую вас по всем необходимым вопросам. Консультация абсолютна бесплатна


#works
    .works__about.about
        .anim-block.wow.animate__animated.animate__fadeInUp
            .works__title.title МОИ РАБОТЫ
            .works__line.line
            .works__info.info Здесь представленны одни из лучших моих работ, и чьи владельцы дали согласие на "выкладку" фотографий
    .works__examples
        .anim-block.wow.animate__animated.animate__zoomIn
            .example__smash.examp-cont
                .example__back
                .effect__container
                    a.effect
                        .effect__title SMASHCLUB
                        .effect__info ЛУЧШИЙ ТЕННИСНЫЙ КЛУБ В ХАБАРОВСКЕ - SMASHCLUB
            .example__yt.examp-cont
                .example__back
                .effect__container
                    a.effect
                        .effect__title YTVISION
                        .effect__info ЭТО НОВЫЙ НЕФОРМАЛЬНЫЙ ВЗГЛЯД НА ВИДЕОБЛОГЕРОВ РОССИИ И СНГ
            .example__pulse.examp-cont
                .example__back
                .effect__container
                    a.effect
                        .effect__title MC-PULSE
                        .effect__info НОВЕЙШИЕ МЕДЕЦИНСКИЙ ЦЕНТР В ХАБАРОВСКЕ



#abilities
    .abilities__about.about
        .anim-block.wow.animate__animated.animate__fadeInUp
            .abil__title.title МОИ СПОСОБНОСТИ
            .abil__line.line
            .abil__info.info Я стараюсь постоянно улучшать свои способности в разных сферах программирования. Вы можете увидеть мой примерный уровень
    .abilities__prgbars.wow.animate__animated.animate__zoomIn
        .bar-container1
            span 90%
        .bar-container2
            span 80%
        .bar-container3
            span 75%
        .bar-container4
            span 95%
    .abilities__names.wow.animate__animated.animate__zoomIn
        .abil__progr PROGRAMMING
        .abil__design DESIGN 
        .abil__marketing MARKETING
        .abil__ui UI / UX



#ready
    .ready__content
        .ready__title.wow.animate__animated.animate__fadeInRight ВЫ ГОТОВЫ НАЧАТЬ?
        .ready__info.wow.animate__animated.animate__fadeInRight(data-wow-delay=".1s") Я свободен для заказов.
        .ready__btn.btn.btn-light.wow.animate__animated.animate__fadeInRight(data-wow-delay=".2s") СВЯЗАТЬСЯ СО МНОЙ



#contact
    .contact__about.about
        .anim-block.wow.animate__animated.animate__fadeInUp
            .contact__title.title СВЯЗАТЬСЯ СО МНОЙ
            .contact__line.line
            .contact__info.info Напишите вкратце о заказе. Мы с вами свяжемся и подберем/сформируем то, что вам нужно
    .contact__form
        input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Имя').wow.animate__animated.animate__fadeInUp
        input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='E-mail').wow.animate__animated.animate__fadeInUp(data-wow-delay=".1s")
        textarea#exampleFormControlTextarea1.form-control(rows='3' placeholder="Сообщение").contact__textarea.wow.animate__animated.animate__fadeInUp(data-wow-delay=".2s")
        .ready__btn.btn.btn-dark.wow.animate__animated.animate__fadeInUp(data-wow-delay=".3s") ОТПРАВИТЬ СООБЩЕНИЕ