#header
    .header__image
    .dots
    .gray-back
    .header__info
        .header__title
            .title__hello Здравствуй, я — Борис Ковальский, и я
            .title__who FULL STACK WEB-DEVELOPER
            .title__doing создаю современные и адаптивные Веб-проекты
        .toServices.header-down-btn
            .material-icons keyboard_arrow_down
