#footer
    .icons
        .vk.icon.wow.animate__animated.animate__fadeInUp
            .fa.fa-vk
        .codepen.icon.wow.animate__animated.animate__fadeInUp(data-wow-delay=".1s")
            .fa.fa-codepen
        .paypal.icon.wow.animate__animated.animate__fadeInUp(data-wow-delay=".2s")
            .fa.fa-paypal
        .whatsapp.icon.wow.animate__animated.animate__fadeInUp(data-wow-delay=".3s")
            .fa.fa-whatsapp
        .phone.icon.wow.animate__animated.animate__fadeInUp(data-wow-delay=".4s")
            .fa.fa-phone-alt
    .extra-info
        .extra__about © 2020 JustYay | VK:
        .extra__name Борис Ковальский